<?php foreach ($people as $person) : ?>]
  <li><?= $person; ?></li>
<?php endforeach; ?>

==== Blade

@foreach ($people as $person)
   <li>{{ $person }}</li>
@endforeach

@if(empty($people))
  there are no people
@else
  something is here
@endif

@unless (empty($people))
  there are some people
@endunless
